# ==== BACKEND ====
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/*.sqlite3
backend/.env
backend/static/
backend/media/

# ==== FRONTEND ====
frontend/node_modules/
frontend/dist/
frontend/.env

# ==== SISTEMA ====
.DS_Store
*.log
